APP_ENV=dev
APP_SERVICE_NAME=myhost
APP_LOG_LEVEL=INFO
APP_HTTP_HOST=0.0.0.0
APP_HTTP_PORT=8080
APP_OTEL__OTLP_ENDPOINT=http://localhost:4317
APP_OTEL__SAMPLE_RATIO=1.0
APP_EXTERNAL__BASE_URL=https://httpbin.org
APP_EXTERNAL__TIMEOUT=5.0
APP_EXTERNAL__API_KEY=